body {
    background-image: url('../images/table.png');
    background-size: 1920px;
    background-color: black;
    background-position: top center;
}

p {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5em;
}

.container-fluid {
    min-height: 100vh;
}

.title {
    font-family: 'Squada One', cursive;
    font-size: 3em;
    color: #e9e9e9;
}

.center {
    margin: auto;
    text-align: center;
}

.square {
    max-width: 200px;
    max-height: 200px;
}

.add-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-margins {
    margin: 3px;
}

.chips, .wager_0, .wager_1, .pot{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    height: 200px;
    line-height: 200px;

}

.pot {
    background-image: url('../images/pot.png');
    background-size: 100px;
    height: 100px;
    line-height: 100px;
    color: gray;
}

.chips {
    background-image: url('../images/chips.png');
    font-size: 20px;
    line-height: 260px;
    color: #e9e9e9;
}

.wager_0, .wager_1{
    color: #2dc544;
    font-size: 40px;
}

.wager_0 {
    background-image: url('../images/wager_0.png');
}

.wager_1 {
    background-image: url('../images/wager_1.png');
}